apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sector-sim-api
  namespace: sector-sim
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  tls:
    - hosts:
        - sector.seketa.it
      secretName: sector-seketa-it-tls
  rules:
    - host: sector.seketa.it
      http:
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: api
                port:
                  number: 8000
